/*inicio formato general*/

* {
    margin: 0;
    padding: 0;
}
.dropdown-menu li{
    position:relative;
}
.nav>li:hover>.dropdown-menu{
    display: block;
}
.navbar-nav>li:hover>.dropdown-menu{
    display: block;
}

body{   
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}
a:hover{
    font-weight: bold;
    color: rgb(23, 46, 255);
    text-decoration: underline;
}
.titulopag{
    color: rgb(23, 46, 255);
    font-family: 'Tektur', cursive;
}
/*fin formato general*/

/*inicio formato páginas*/

.presentini{
    position: relative;
    display: inline-block;
    text-align: center;
}

.questini{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color:rgb(2, 19, 56);
}

.imgciber{
    margin: 1px;
    padding: 1px;
    height: 200px;
    opacity: 50%;
}

.presentación{
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.question{
    margin: 1px;
    margin-bottom: 1px;
    padding: 1px;
    text-align: center;
    font-size: 27px;
    color: #171791;
    font-weight: bold;
}
.subquestion{
    margin: 5px;
    padding: 1px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #162174;
    font-weight: bolder;
}

#carouselIndicators{
    margin: 1px;
    padding: 2px;
    height:fit-content;
    background-color: #0404da;
}

#advertencia{
    color: #b5042c;
    text-align: center;
    margin: 5px;
    padding: 2px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    font-weight: bold;
    animation:parpadeo 2s infinite;
    
}
#advertencia:hover{
    background-color: rgb(65, 224, 241);
}
.contenidos{
    background-color: #cdeaebf0;
    margin: 5px;
    border: solid 1px rgb(42, 42, 236);
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.listado{
    margin: 10px;
    padding: 2px;
    padding-left: 10px;
}
.listado li:hover{
    background-color: azure;
}
.clasificación{
    margin: 2px;
    padding: 1px;
    font-size: 25px;
    color: rgb(4, 45, 105);
    font-weight: bold;
}
.definiciones{
    margin: 5px;
    letter-spacing: 2px;
    font-size: 15px;
    text-align: left;
    color: #162174;
}

h2.advice{
    text-align: center;
    font-size: 25px;
    color: #162174;
    font-style: italic;
    margin: 1px;
    padding: 2px;
    font-weight: bold;
}

.videoinfo{
    margin: 2px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.pregunta{
    margin: 3px;
    padding: 1px;
    font-size: 15px; 
    font-weight: bold;   
}
.items{
    margin: 5px;
    padding-left: 60px;
    font-style: italic;
    font-weight: bold;
}

.imgvalor{
    margin: 2px;
    padding: 1px;
    display: flex;
    justify-content:center;
    text-align: center;
    height: 400px;
}
.form{
    width:340px;
    height:500px;
    background:#63adf3;
    border-radius:8px;
    box-shadow:0 0 40px -10px #244af0;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative;
}
.questform{
    margin:1px;
    padding:1px;
    color:#0404da;
    text-align: center;
    font-size: 30px;
    animation:parpadeo 2s infinite;
    /*llama funcion parpadeo cada 2 segundos, en bucle infinito */
}
/* funcion que cambia variable transparencia */
@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border:2px solid #0404da;
}
input:focus{
    border:2px solid #020c1b;
}
.pform:before{
    content:attr(type);
    display:block;
    margin:28px 0 0;
    font-size:20px;
    color:#0404da;
}
.msjboton{
    float:left;
    padding:8px 12px;
    margin:40px 10px 20px 70px;
    border:2px solid #0404da;
    background:0;
    color:#0404da;
    cursor:pointer;
    transition:all .3s;
}
.msjboton:hover{
    background:#49b6f5;
    color:#0404da;
}
.play{
    margin: 1px;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #f15a1e;
    animation:parpadeo 2s infinite;
}
.advicend{
    margin: 1px;
    border: solid 1px #bbd9e55c;
    padding: 1px;
    display: flex;
    flex-direction: column;
    background-color: #63adf3;
}
.piedepag{
    margin: 1px;
    border: solid 1px #bbd9e55c;
    padding: 1px;
    background-image:url(imagenes/ciberseguridad1.jpg);
}

.dire{
    margin: 5px;
    padding: 2px;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    color:white;
 }
 .icon-link{
    color:white;
    font-weight: bold;
 }

 .sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
.imagensticky {
    width: 100%;
    border-radius: 50%;
    background-position: center;

}
.formingusu{
    width:340px;
    height:480px;
    background:#b7d2ec;
    border-radius:8px;
    box-shadow:0 0 40px -10px #244af0;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    position:relative;
}
.questformusu{
    margin:1px;
    padding:1px;
    color:#07076b;
    text-align: center;
    font-size: 30px;
}
#recuerda{
    display: flex;
    flex-direction: row;
}
#rememberusername{
   width: 15px;
   border: 1px solid blue;
   margin: 10px 5px 5px 1px;
   padding: 1px;
}
.textocaja{
    display: inline-block;
    margin: 10px 5px 5px 1px;
   padding: 1px;
}
#contacto{
    display: flex;
    flex-direction: column;
}
.newacc{
    margin: 5px;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    color:#244af0;
    font-style: italic;

}
/*fin formato páginas*/









/*Formato para dispositivos*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    
    .imgvalor{
        margin:calc(50vh - 220px) auto;
        padding: 1px;
        display: flex;
        justify-content:center;
        text-align: center;
        height: 200px;
    }
    .imgciber{
        height: 250px;
       }
    .questini{
        font-size: 30px;
    }
    .subquestion{
        font-size: 25px;
    }
    #contacto{
        display: flex;
        flex-direction: row;
    }
   
    .formingusu{
        margin:calc(50vh - 200px) auto;
    }
    .msjboton{
        margin:40px 10px 20px 70px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
   .imgciber{
    height: 400px;
   }
   .questini{
    font-size: 50px;
    }
    .subquestion{
        font-size: 25px;
    }
    .imgvalor{
        margin:calc(50vh - 220px) auto;
        padding: 1px;
        display: flex;
        justify-content:center;
        text-align: center;
        height: 600px;
    }
    #contacto{
        display: flex;
        flex-direction: row;
    }
    
    .formingusu{
        margin:calc(50vh - 320px) auto;
    }
    .msjboton{
        margin:40px 10px 20px 70px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .imgciber{
        height: 400px;
       }
       .questini{
        font-size: 70px;
    }
    .subquestion{
        font-size: 30px;
    }
    .imgvalor{
        margin:calc(50vh - 220px) auto;
        padding: 1px;
        display: flex;
        justify-content:center;
        text-align: center;
        height: 600px;
    }
    #contacto{
        display: flex;
        flex-direction: row;
    }
    
    .formingusu{
        margin:calc(50vh - 300px) auto;
    }
    .msjboton{
        margin:40px 10px 20px 70px;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    .imgciber{
        height: 400px;
       }
    .questini{
        font-size: 70px;
    }
    .subquestion{
        font-size: 30px;
    }
    .imgvalor{
        margin:calc(50vh - 220px) auto;
        padding: 1px;
        display: flex;
        justify-content:center;
        text-align: center;
        height: 800px;
    }
    #contacto{
        display: flex;
        flex-direction: row;
    }
    
    .formingusu{
        margin:calc(50vh - 300px) auto;
    }
    .msjboton{
        margin:40px 10px 20px 70px;
    }
}